<ion-header>
  <Header></Header>
</ion-header>

<ion-content>
  <div class="main">
  <div class="Parte1">

    <h2 class="titulo">Saiba mais sobre nós</h2>
    <p class="txt">Acesse nossos links nos cards abaixo</p>
</div>

<div class="card-container">

    <div class="card" slide hightlight>
        <img src="assets/pato.png" class="img2" alt="foto">
        <div class="name">Josafá Lima</div>
        <div class="title"> Aluno</div>
        <div class="p1">Uninassau com muito orgulho</div>
        <div class="cosio">
            <a href="https://www.instagram.com/_josafa_lima"><img src="assets/Insta.png" class="img1"></a>
            <a href="https://www.linkedin.com/in/josafá-lima-b29ba32bb"><img src="assets/Linkedin.png" class="img1"></a>
            <a href="https://wa.me/qr/SN3FVXP2SGX5B1"><img src="assets/Zap.png" class="img1"></a>
        </div>
        <div><a href="https://github.com/Josafa-Lima"><button id="botao1">GitHub</button></a></div>

    </div>
    <div class="card" slide hightlight>
        <img src="assets/gaibao.jpg" class="img2" alt="foto">
        <div class="name">Kaio Victor</div>
        <div class="title">Aluno</div>
        <div class="p1">Uninassau com muito orgulho</div>
        <div class="cosio">
            <a href="https://www.instagram.com"><img src="assets/Insta.png" class="img1"></a>
            <a href="https://br.linkedin.com"><img src="assets/Linkedin.png" class="img1"></a>
            <a href="https://web.whatsapp.com"><img src="assets/Zap.png" class="img1"></a>
        </div>
        <div class="botao"><a href="https://www.github.com"><button id="botao1" onclick="butao1()">GitHub</button></a></div>
    </div>
    <div class="card" slide hightlight>
        <img src="assets/camaleao.png" class="img2" alt="foto">
        <div class="name">Ronan Wandré</div>
        <div class="title">Aluno</div>
        <div class="p1">Uninassau com muito orgulho</div>
        <div class="cosio">
            <a href="https://www.instagram.com"><img src="assets/Insta.png" class="img1"></a>
            <a href="https://br.linkedin.com"><img src="assets/Linkedin.png" class="img1"></a>
            <a href="https://web.whatsapp.com"><img src="assets/Zap.png" class="img1"></a>
        </div>
        <div><a href="https://www.github.com"><button id="botao1" onclick="butao1()">GitHub</button></a></div>
    </div>
    <div class="card" slide hightlight>
      <img src="assets/liao.png" class="img2" alt="foto">
     <div class="name">Julio Cesar</div>
      <div class="title"> Aluno</div>
      <div class="p1">Uninassau com muito orgulho</div>
      <div class="cosio">
          <a href="https://www.instagram.com"><img src="assets/Insta.png" class="img1"></a>
          <a href="https://br.linkedin.com"><img src="assets/Linkedin.png" class="img1"></a>
          <a href="https://web.whatsapp.com"><img src="assets/Zap.png" class="img1"></a>
      </div>
      <div><a href="https://www.github.com"><button id="botao1" onclick="butao1()">GitHub</button></a></div>

  </div>
  <div class="card" slide hightlight>
    <img src="assets/gato1.png" class="img2" alt="foto">
    <div class="name">Mikael Uingles</div>
    <div class="title"> Aluno</div>
    <div class="p1">Uninassau com muito orgulho</div>
    <div class="cosio">
        <a href="https://www.instagram.com"><img src="assets/Insta.png" class="img1"></a>
        <a href="https://br.linkedin.com"><img src="assets/Linkedin.png" class="img1"></a>
        <a href="https://web.whatsapp.com"><img src="assets/Zap.png" class="img1"></a>
    </div>
    <div><a href="https://www.github.com"><button id="botao1" onclick="butao1()">GitHub</button></a></div>

</div>
<div class="card" slide hightlight>
    <img src="assets/trige.png" class="img2" alt="foto">
    <div class="name">Eric Mendonça</div>
    <div class="title"> Aluno</div>
    <div class="p1">Uninassau com muito orgulho</div>
    <div class="cosio">
        <a href="https://www.instagram.com"><img src="assets/Insta.png" class="img1"></a>
        <a href="https://br.linkedin.com"><img src="assets/Linkedin.png" class="img1"></a>
        <a href="https://web.whatsapp.com"><img src="assets/Zap.png" class="img1"></a>
    </div>
    <div><a href="https://www.github.com"><button id="botao1" onclick="butao1()">GitHub</button></a></div>

</div>
</div>
</div>
<Footer></Footer>
</ion-content>
