<ion-header>
  <Header></Header>
</ion-header>

<ion-content>
 <div class="main">
 
  <div class="info"><h2>Assista a série ou saiba mais!</h2></div>
  <div class="Parte3" >
    <div class="txt2">
      Assista a série em streamings oficiais ou saiba mais sobre a série/episódios/personagens 
      em sites wiki como o Rickpedia. <br>E lembre-se,
      <a href="https://animesgames.cc/animes/rick-and-morty-todos-os-episodios" 
      class="a1"><u class="u">pirataria</u></a> é crime.
      </div>
      </div>
      
      <div class="card-container">
      
        <div class="saiba" slide hightlight>
          <div class="titulo">Assista a série</div>
          <a href="https://play.max.com/show/ab553cdc-e15d-4597-b65f-bec9201fd2dd?utm_source=universal_search">
            <img src="assets/max.png"
            class="portal" alt="foto"></a>
            <a href="https://www.primevideo.com/dp/amzn1.dv.gti.ced5d885-e94b-4015-83e0-0918c76ba3ca?autoplay=0&ref_=atv_cf_strg_wb">
              <img src="assets/prime.png"
              class="portal" alt="foto"></a>
        </div >
      <div class="saiba" slide hightlight>
        <div class="titulo">Saiba mais</div>
       
          <a href="https://rickandmorty.fandom.com/wiki/Rickipedia">
            <img src="assets/portal.gif"
            class="portal" alt="foto"></a>
      </div >
    </div>
  </div>
  <Footer></Footer>
</ion-content>