<div class="main">
  <img src="assets/PICKLERICK.png" alt="Escuro" id="foto1">
 
    <div class="Parte2">
      <p class="txt">
    Rick and Morty é uma série animada que acompanha as aventuras e os 
    descobrimentos de um super cientista e seu neto não muito brilhante. 
    Completamente irresponsável, Rick não é um avô amoroso e gentil. 
    Muito pelo contrário, ele usa o neto, Morty, como cobaia em seus experimentos 
    e não leva em consideração a segurança do jovem em suas aventuras intergaláticas. 
    Mas mesmo com diversos desentendimentos, os dois se divertem descobrindo lugares 
    incríveis e criaturas assustadoras através de universos e galáxias desconhecidas. 
    Além dos dois, a série também acompanha os outros membros da família: 
    Beth, mãe de Morty e filha de Rick com quem ele tem uma relação complicada, 
    Jerry, o genro de Rick por quem ele sente desprezo e Summer, irmã mais velha de 
    Morty que também acompanha o irmão e o avô em suas aventuras. 
    Enquanto encaram perigos inimagináveis,
     a família Smith acaba descobrindo muito sobre uns aos outros.
    </p>
    </div>
    <h2 class="info">Personagens Principais</h2>
    
  
    <div class="card-container">
        <div  class="card" slide hightlight>
            <img src="assets/rick.jpeg" class="img2" alt="foto">
            <h1>Rick<br>Sanchez</h1>
            <p class="title1">Human | Alive</p>
            <p class="p1">Rick</p>
            </div>
        
          <div class="card" slide hightlight>
              <img src="assets/morty.jpeg" class="img2" alt="foto">
              <h1>Morty<br>Smith</h1>
              <p class="title1">Human | Alive</p>
              <p class="p1">Morty</p>
              </div>
          
            <div class="card" slide hightlight>
                <img src="assets/summer.jpeg" class="img2" alt="foto">
                <h1>Summer<br>Smith</h1>
                <p class="title1">Human | Alive</p>
                <p class="p1">Summer</p>
                </div>
            
            <div class="card" slide hightlight>
                  <img src="assets/beth.jpeg" class="img2" alt="foto">
                  <h1>Beth<br>Smith</h1>
                  <p class="title1">Human | Alive</p>
                  <p class="p1">Beth</p>
                  </div>
              

                <div class="card" slide hightlight>
   <img src="assets/jerry.jpeg" class="img2" alt="foto">
      <h1>Jerry<br>Smith</h1>
    <p class="title1">Human | Alive</p>
     <p class="p1">Jerry</p>
    </div>
  </div>

    <div class="Parte3" >
      <div class="txt2">
        Você pode ir na página Personagens para poder achar o seu personagem pelo nome, a espécie dele, ou 
        status em que ele se encontra, se ele está vivo, morto ou desconhecido(quando não se sabe se ele 
        está vivo ou morto). Você pode clicar em <a routerLink="/personagens" class="a1"><u>personagens</u></a> lá em cima ou nesse portal.<br>
       
        <a routerLink="/personagens"><img src="assets/portal.gif"
          class="portal" alt="foto"></a>
   
        </div>
        </div>
   
      </div>

 